.background {
    background: url(../../public/texture.png), #FDF6E9 50% / cover no-repeat;
    flex-shrink: 0;
}

.textStroke {
    color: #FDF6E9;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #E03932;
    font-family: Antonio;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


.background {
    padding: 0 25px;
}

.mun-follow {
    padding: 36px 13px;
    background-color: rgba(255, 255, 255, 0.45);
    min-height: fit-content;
}

.mun-follow div {
    font-weight: 200;
}



/* Committee styles */
.title {
    font-style: normal;
    font-weight: 700;
    line-height: 117%;
    letter-spacing: -0.4px;
    margin-bottom: 16px;
}

.desc {
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 117%;
    letter-spacing: -0.4px;
}


@media only screen and (max-width: 768px) {
    .textStroke{
        font-size: 3.9rem;
    }
    .background{
        padding-bottom: 10%;
    }
    .mun-logos-1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
    }
    
    .mun-logos-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        /* gap: 20px; */
    }
}