body {
  height: 100vh;
  overflow-y: hidden;
  animation: disableScroll 6s linear forwards;
}

#home {
  position: relative;
  z-index: -10;
  overflow: hidden;
  opacity: 0;
  animation: loadPage 0.8s ease 3s forwards;
}

#splash-inner {
  opacity: 1;
  animation: removeInnerSplash 0.8s ease 3s forwards;
}

#splash {
  overflow: hidden;
  position: absolute;
  background-color: #fdf6e9;
  width: 100vw;
  height: 100vh;
  animation: removeSplash 0.8s ease 3s forwards;
}

#splash-image {
  position: absolute;
  z-index: 10;
  animation: removeImg 3s ease-out forwards;
}

#logo {
  opacity: 0;
  animation: fadeInLogo 1.2s ease-in 1.5s forwards;
}

@keyframes fadeInLogo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes removeImg {
  from {
    /* transform: translate3d(0, 0, 0); */
    /* transform: translateX(0%); */
    transform: translateY(0%);

    /* transform: translateX(0%); */
  }
  to {
    /* transform: translate3d(100%, 0, 100%); */
    /* transform: translateX(-100%); */
    transform: translateY(-100%) translateX(-30%);

    /* transform: translateX(-10%); */
  }
}

@keyframes disableScroll {
  from {
    height: 100%;
    overflow-y: hidden;
  }
  to {
    height: 100%;
    overflow-y: scroll;
  }
}

@keyframes loadPage {
  from {
    opacity: 0;
    overflow: scroll;
    transform: translateY(150%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes removeSplash {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
    display: none;
  }
}

@keyframes removeInnerSplash {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}
