.textStroke {
    color: #FDF6E9;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #E03932;
    font-family: Antonio;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.white-box {
    padding: 36px 13px;
    background-color: rgba(255, 255, 255, 0.45);
    min-height: fit-content;
}

.yellowButton {
    margin-left: 1rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    background-color: #F5E074;
    min-width: fit-content;
    height: min-content;
    border-radius: 50px;
    border-color: #3F362B;
    border-width: thin;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--Black-primary, #3F362B);
    text-align: center;
    font-family: Static;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

/* .yellowButton:hover{
    position: relative;
    top: -4px;
    left: -4px;
    box-shadow: 4px 4px #000000;
} */

.filter-active{
    position: relative;
    top: -4px;
    left: -4px;
    box-shadow: 4px 4px #000000;
}

@media only screen and (max-width: 768px) {
    
    .textStroke{
        font-size: 3.9rem;
    }
}